.menu {
    height: 80px;

    @apply bg-gray-100 dark:bg-black flex justify-between;

    .logo {
        height: 90px;

        @apply mt-3 ml-8;

        img {
            width: 90px;
        }
    }

    .menu-option {

        @apply text-2xl mt-6 mr-8 cursor-pointer dark:text-white hover:text-yellow-500;
    }
}