div {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translateX(-50%);

    @apply flex justify-center items-center;

    .page-title {
        @apply text-5xl sm:text-6xl md:text-8xl whitespace-nowrap text-gray-900 dark:text-white font-bold;
    }
}